<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>One Nice Thing</title>
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <header>
            <nav class="green lighten-1" role="navigation">
                <div class="nav-wrapper container" >
                    <a id="logo-container" href="index.html" class="brand-logo" 
                        > One nice thing</a>
                    <ul class="right hide-on-med-and-down ">
                        <li><a href="login.html">Login | Sign up</a></li>
                        <li><a href="help.html">Help</a></li>
                        <li><a href="about.html">About</a></li>
                        <li>
                            <a  href="add.html" class="btn-floating btn-large waves-effect waves-light yellow"><i class="mdi-content-add"></i></a>
                        </li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav ">
                        <li><a href="login.html">Login | Sign up</a></li>
                        <li><a href="help.html">Help</a></li>
                        <li><a href="about.html">About</a></li>
                        <li>
                            <a href="add.html" class="btn-floating btn-large waves-effect waves-light yellow"><i class="mdi-content-add"></i></a>
                        </li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </header>
        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h1 class="header center white-text ">About</h1>
                    <br><br>
                </div>
            </div>
            <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
        </div>
        <div class="container">
            <div class="section">
                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h5 class="center green-text">About us</h5>
                        <p class="light justified">Lorem ipsum dolor sit amet, in per choro nonumes sententiae, est et graecis adipiscing. Est in vitae gloriatur. Ei nisl vidit dicit sit, in oratio debitis deserunt vis. No stet nominati sed, ne sit erat consequat. Est quidam pertinax eu, his ad quodsi fabellas reprimique. Perpetua partiendo cu vel, sed movet facete ocurreret ei. Te ferri quando pri, laoreet conceptam pri ex.
                            Incorrupte disputando an sea, est in ponderum abhorreant, eos nisl commodo in. Quando offendit mandamus te vis. In sed cibo omnis liber, sed eu hinc semper sanctus. Hinc eleifend repudiare ne sit, cu error nostro feugiat vel, no pro libris prompta. Qualisque dignissim temporibus vim no, pri aperiam instructior in.
                            Ut quas viderer deserunt sed, ne quem ludus aeterno ius. Fugit ornatus qualisque has id. Dicta falli ut eos, saperet consulatu no eos, mea nonumy fabellas ea. Vel doctus deleniti theophrastus eu, eum ei graeco vocibus assentior, civibus eloquentiam pro ne. Ea vim veniam aeterno.
                            Pri rebum nobis an. Te ius idque vidisse. Eum aperiam convenire at. Est no officiis adversarium consequuntur. Nullam sadipscing no qui, populo nominati delicatissimi ne vim.
                            Mei vide omnesque periculis id, mel ei fuisset constituam. An quo eirmod perpetua. Usu sint error eu. Mentitum inimicus corrumpit ad his, mutat regione te pro. Ad minim aliquip dissentiunt eos, per scripta bonorum at. Nam possit offendit moderatius an.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="page-footer green">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <p class="grey-text text-lighten-4">About one nice thing. one nice thing. one nice thing. one nice thing.
                            one nice thing. one nice thing. one nice thing. one nice thing. one nice thing. one nice thing. 
                        </p>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="yellow-text text-darken-1">Help</h5>
                        <ul>
                            <li><a class="white-text" href="#!">How to use</a></li>
                            <li><a class="white-text" href="#!">Faq</a></li>
                            <li><a class="white-text" href="#!">Privacy Policy</a></li>
                            <li><a class="white-text" href="#!">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="yellow-text text-darken-1">Social media</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Facebook</a></li>
                            <li><a class="white-text" href="#!">Twitter</a></li>
                            <li><a class="white-text" href="#!">Instagram</a></li>
                            <li><a class="white-text" href="#!">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Copyright 2015. <a class="yellow-text text-darken-1" href="http://onenicething.net">One nice thing</a>
                </div>
            </div>
        </footer>
        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
    </body>
</html>