{% extends "base.html" %}

{% block content %}

	
	<div class="container">
		<div class="section">
			<div class="row">
				<div class="home-banner">

		        	<img src="./img/home_banner1.jpg" alt="Home banner 1">
		            <br><br>
		            <div class="row center">
		                <h5 ><b>One Nice Thing </b> <br> The most worthwhile thing is to put Happiness into the lives of others.</h5>
		            </div>
		            
		        </div>
		    </div>
	    
		</div>

	    <div class="section home-signup-block">
	        <div class="row">
	            <div class="col s12 m12 l4 z-depth-1">
	                <div class="icon-block" >
	                    <h5 class="center">Register Here</h5>
	                   	<form class="col s12 ">

	                   		<div class="row">
						        <div class="input-field col s12">
						          <input id="user_name" type="text" class="validate">
						          <label for="password">User Name</label>
						        </div>
						      </div>

						      <div class="row">
						        <div class="input-field col s12">
						          <input id="email" type="email" class="validate">
						          <label for="email">Email</label>
						        </div>
						      </div>

						      <div class="row">
						        <div class="input-field col s12">
						          <input id="email" type="email" class="validate">
						          <label for="email">Friend id</label>
						        </div>
						      </div>
	                   		 
						      <div class="row">
						        <div class="input-field col s12">
						          <input id="password" type="password" class="validate">
						          <label for="password">Password</label>
						        </div>
						      </div>


							  <div class="row">
								<div class="input-field col s6">
								    <a class="waves-effect waves-teal btn-flat">Anynomous</a>
							     </div>
								 <div class="input-field col s6">
							        <button class="btn waves-effect waves-light orange" type="submit" name="action">Submit
									   <i class="material-icons right">send</i>
									 </button>
						         </div>
						       </div>

						</form>
	                </div>
	            </div>

	            <div  class="col s12 m8">
					<div class="home-help-block">
					    <div class="section no-pad-bot">
					       
					        	<img src="./img/home_signup_image.jpg" alt="Help image">
					            <br><br>

					            <div class="row center">
					               <p> You need just 10 seconds to signup. Spread tree. </p>
					            </div>
					            
					    </div>
					 </div>
				</div>
	        </div>
	    </div>

	    

	    <div class="section">
	    <div class="home-bottom">
	        
	            <div class="row center">
	                <h5 class="header col s12 light"><b>About One Nice Thing </b></h5>
	                <p>
	                	Lorem ipsum dolor sit amet, usu nullam splendide et. Cibo dolores nominavi sit no, apeirian gloriatur dissentiunt cu mea. Ad per salutandi maluisset, an his facete omittantur instructior. An quo convenire petentium, pri consul iuvaret ea. Case dictas nonumes cu eos. Qui ferri prima id, dicam facilis duo eu.
	                </p>
	            </div>



	            <img src="./img/home_bottom_image.jpg" alt="Home Bottom Image">
	            <br><br>
	            
	        </div>
	    </div>



	</div>
	
{% endblock %}